nbproject/
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
application/config/config.php
application/config/constants.php

error_log
.htaccess
uploads/*
node_modules/*
